PORT=4000
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://postgres.rptjzdephwcxufofyvts:Happykid04%40123@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
JWT_SECRET=
JWT_REFRESH_SECRET=
